{
  "Nuget": "e:\\tools\\nuget.exe",
  "Global": {
    "authors": "四川译讯信息科技有限公司",
    "owners": "四川译讯信息科技有限公司",
    "licenseUrl": "http://share.yx.com/license.html",
    "projectUrl": "http://tfs:8080/tfs/DefaultCollection/Lib",
    "iconUrl": "http://share.yx.com/nuget.png",
    "requireLicenseAcceptance": "false",
    "copyright": "Copyright @ 2018 四川译讯信息科技有限公司",
	"releaseNotes": "$description$",
	"tags": "Eson CTC Lib"
  },
  "Ignore": [
    "test",
	"MigrationBackup"
  ]
}

